.nodeItem-epicPanorama {
    position: relative;
    margin-bottom: 26px;
    padding: 0;
}
.nodeItem-epicPanorama .sliderBarContainer {
    position: absolute;
    z-index: 4;
    bottom: 15%;
    left: 0;
    right: 0;
    width: 100%;
}
.nodeItem-epicPanorama .sliderBar {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;
  margin: 0 auto;
  max-width: 800px;
  padding: 8px;
  background: #fff;
  background: rgba(255,255,255,0.9);
}
.nodeItem-epicPanorama .sliderBar .sliderHandle {
  display: block;
  position: relative;
  background-image: url(sprite-ar-2014.png);
  background-repeat: no-repeat;
  background-position: -173px -109px;
  width: 101px;
  height: 35px;
}
.nodeItem-epicPanorama .sliderContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 700px;
}
.nodeItem-epicPanorama .epicPanorama-base {
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  opacity: 0.28;
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  left: -539.2px;
}
.nodeItem-epicPanorama.active .epicPanorama-base, .nodeItem-epicPanorama.active .nodeItem {
  opacity: 1.0;
}
.nodeItem img {
  display: block;
  margin: 0 auto 26px auto;
}
.nodeItem-epicPanorama img {
  width: auto;
  height: 100%;
  max-width: none;
}
.nodeItem-epicPanorama img {
  width: auto;
  height: 100%;
  max-width: none;
}
.nodeItem-epicPanorama .epicPanorama-overlay {
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}
.nodeItem-epicPanorama.active .epicPanorama-overlay {
  opacity: 1;
}

.outer-circle{
position: relative;
background: transparent;
width: 25px;
height: 25px;
border-collapse: separate;
border-radius: 50%;
border: 1px solid #f00;
border-spacing: 10px;
cursor: pointer;
z-index: 9999;
}
.inner-circle {
position: absolute;
background: #f00;
width: 90%;
height: 90%;
border-radius: 50%;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}
.first-interest {
top: 54%;
left: 37%;
}
.second-interest {
top: 54%;
left: 15.5%;
}
.third-interest {
top: 70%;
left: 10%;
}
.fourth-interest {
top: 60%;
left: 45%;
}
.fifth-interest {
top: 50%;
left: 73%;
}
.sixth-interest {
top: 30%;
left: 83%;
}
.seventh-interest {
top: 35%;
left: 93%;
}
.eighth-interest {
top: 25%;
left: 114%;
}
.ninth-interest {
top: 13%;
left: 130%;
}
.pop-up {
width: 70%;
min-height: 570px;
background: #fff;
position: fixed;
top: 8%;
left: 15%;
z-index: 999;
border-radius: 3px;
display: none;
}
.close {
margin: 1%;
color: #bf0f0f;
font-weight: bold;
font-size: 20px;
cursor: pointer;
width: 2%;
float: left;
}
.info {
width: 49%;
min-height: 260px;
padding: 2% 2% 2% 0;
margin-top: 20%;
float: left;
}
.para {
color: #4c4747;
}
.span-style {
font-weight: bold;
color: #0e8384;
font-size: 18px;
}
.imgs {
width: 60%;
width: 44%;
float: right;
padding: 0;
height: 570px;
padding: 1px;
}
.imgs img{
width: 100%;
height: 100%;
}
.overlay {
width: 200%;
height: 100%;
z-index: 99;
background: #000;
opacity: 0.6;
position: absolute;
top: 0;
display: none;
}

@media(min-width: 1400px){
  .nodeItem-epicPanorama img {
    width: 165%;
  }
}

@media(min-width: 769px) and (max-width: 1030px)
{
  .epicPanorama-base {
    left: 293.6px;
  }
  .nodeItem-epicPanorama .epicPanorama-overlay{
    left: -293.6px;
  }
  .nodeItem-epicPanorama .sliderBarContainer {
    bottom: 7%;
  }
  .first-interest {
    left: 21%;
  }
  .second-interest {
    left: -8.5%;
  }
  .third-interest {
    left: -16%;
  }
  .fourth-interest {
    left: 30%;
  }
  .fifth-interest {
    left: 70%;
  }
  .sixth-interest {
    left: 84%;
  }
  .seventh-interest {
    left: 97%;
  }
  .eighth-interest {
    left: 126%;
  }
  .ninth-interest {
    left: 149%;
  }
}
